<header>
    <div class="container">
        <a routerLink="/" class="logo" > Food Mine</a>
        <nav>
            <ul>
         <li *ngIf="!isAuth"> 
            <a routerLink="/login" > Login</a>
           </li>
        <li *ngIf="isAuth" class="menu-container">    
            <!-- is auth is not working while login // login is not removed while login -->
            <a routerLink="/dashboard">{{user.name}}</a>
        
        <div class="menu" >
            <a routerLink="/profile" > Profile</a>
            <a routerLink="/orders" > Orders</a>
            <a (click)="logout()"> logout </a>
        
        </div>
        </li>
        <li>
        <a routerLink="/cart-Page" > Cart
            <span>0</span>
        </a>
        
        </li>
        
        
        
            </ul>
        </nav>
    </div>
   
</header>
